a:visited {
    color: black;
    background-color: none;
    text-decoration: underline;
  }
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
    transition: 0.3s ease;
}

title,body{
  background-color: rgb(255, 181, 195);
  text-align: center;
}
#blank{
  background-color: white; 
}
p{
  font-size: 26px;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 34px;
}
h3{
  font-size: 30px;
}   